# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

.idea/

# Distribution / packaging
.Python
env/
node_modules/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
src/settings/local.py

# Rope
.ropeproject

# Sublime
*.sublime-project
*.sublime-workspace

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Cordova
cordova/platforms


*.swp
*.lock
*~.nib
build/
.DS_Store
*.xccheckout
*.xcuserstate


####
.elasticbeanstalk/
