p confirm invite
form
    input.form-control-input(type='password', placeholder='Password', required='', autofocus='', ng-model='password')
    .btn(type='submit',  ng-click="set_password()")
      | Set Password