{% verbatim %}


.container
    .row
        .col-md-4
            p Patient
        .col-md-8
            p Sam Deng
    .row
        .col-md-4
            p Reason for visit
        .col-md-8
            p Diabetic Donec id elit non mi por
    .row.diagnosis
        .col-md-12.column
          h1
            | Diagnosis
          p
            | testing 12
    .row.treatment
        .col-md-12.column
          h1
            | Treatment
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    .row.lifestyle
        .col-md-12.column
          h1
            | Lifestyle
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    .row.tests_ordered
        .col-md-12.column
          h1
            | Tests Ordered
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    .row.perscriptions
        .col-md-12.column
          h1
            | Perscrptions
          h3
            | Perscription 1
    .row.next_visit
        .col-md-12.column
          h1
            | Next Visit






{% endverbatim %}