{% verbatim %}

.container
    .row
        .col-md-6
            h1 Sam Deng
        .col-md-6
    .row
        .col-md-4
            h1 Reason for visit
        .col-md-8
            h1 Diabetic care
    .row.diagnosis
        .col-md-12.column
          h1
            | Diagnosis
          p
            | Sams foot turned into one giant calluses
    .row.treatment
        .col-md-12.column
          h1
            | Treatment

          .styled-select.blue.semi-square
                select
                    option Foot Complications
                    option Neuropathy
                    option Eye Complications
                    option Skin Complications
    .row.lifestyle
        .col-md-12.column
          h1
            | Lifestyle
          form(action='demo_form.asp', method='get')
            input(type='checkbox', name='lifestyle', value='WeightLoss', checked='checked')
            p Weight Loss
            br
            input(type='checkbox', name='lifestyle', value='Nutrition')
            p Nutrition
            br
            input(type='checkbox', name='lifestyle', value='SafetyPrecautions')
            p Safety Precautions
            br
            input(type='checkbox', name='lifestyle', value='MentalHealth')
            p Mental Health
            br





    .row.tests_ordered
        .col-md-12.column
          h1
            | Tests Ordered
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.

          .styled-select.blue.semi-square
                select
                    option Here is the first option
                    option Here is the first option

    .row.perscriptions
        .col-md-12.column
          h1
            | Perscrptions
          h3
            | Perscription 1
        select
            option(value='Volvo') Volvo
            option(value='Saab') Volvo
        select
            option(value='Volvo') Volvo
            option(value='Saab') Volvo
        select
            option(value='Volvo') Volvo
            option(value='Saab') Volvo

    .row.next_visit
        .col-md-12.column
          h1
            | Next Visit






{% endverbatim %}