{% verbatim %}
.btn(ng-click='doLogout()') logout

.container
    .row.clearfix
        .col-md-6.column
          h3
            | Dr. Vijay
          p.text-left
            | Reason for Visit: Diabetic Care
          div
            | Date: 10/10/2014
        .col-md-6.column
          h3
            | Stats
          dl
            dt
              | Height
            dd
              | 5'10"
            dt
              | Weight
            dd
              | 140 lbs
            dt
              | Blood Type
            dd
              | O+
      .row.clearfix
        .col-md-12.column
          h3
            | Medications
      .row.clearfix
        .col-md-12.column
          .media
            .pull-right
              img.media-object.pull-left(src='http://www.diabetes.org/assets/img/living/insulin-365x234.jpg', alt='')
            .media-body
              h4.media-heading
                | Insulin
              p
                | Insulin is a naturally occurring hormone secreted by the pancreas. Many people with diabetes are prescribed insulin, either because their bodies do not produce insulin (type 1 diabetes) or do not use insulin properly (type 2 diabetes).
              p
                | There are more than 20 types of insulin sold in the United States. These insulins differ in how they are made, how they work in the body, and how much they cost. Your doctor will help you find the right type of insulin for your health needs and your lifestyle.
         .btn-group
          label.btn.btn-success(ng-model='medication_helpful' btn-radio="'Helpful'") Helpful
          label.btn.btn-success(ng-model='medication_helpful' btn-radio="'Confusing'") Confusing
     .row.clearfix
        .col-md-12.column
          h3
            | Lifestyle
          h4
            | Skin Care
          p
            | Diabetes can affect every part of the body, including the skin. As many as one third of people with diabetes will have a skin disorder caused or affected by diabetes at some time in their lives. In fact, such problems are sometimes the first sign that a person has diabetes. Luckily, most skin conditions can be prevented or easily treated if caught early.
          p
            | There are several things you can do to head off skin problems. Keep your diabetes well managed. People with high glucose levels tend to have dry skin and less ability to fend off harmful bacteria. Both conditions increase the risk of infection.
          ul
            li
              | Keep skin clean and dry. Use talcum powder in areas where skin touches skin, such as armpits and groin.
            li
              | Avoid very hot baths and showers. If your skin is dry, don't use bubble baths. Moisturizing soaps may help. Afterward, use a standard skin lotion, but don't put lotions between toes. The extra moisture there can encourage fungus to grow.
            li
              | Prevent dry skin. Scratching dry or itchy skin can open it up and allow infection to set in. Moisturize your skin to prevent chapping, especially in cold or windy weather.
            li
              | Treat cuts right away. Wash minor cuts with soap and water. Do not use Mercurochrome antiseptic, alcohol, or iodine to clean skin because they are too harsh. Only use an antibiotic cream or ointment if your doctor says it's okay. Cover minor cuts with sterile gauze. See a doctor right away if you get a major cut, burn, or infection.
            li
              | During cold, dry months, keep your home more humid. Bathe less during this weather, if possible.
            li
              | Use mild shampoos. Do not use feminine hygiene sprays.
            li
              | See a dermatologist (skin doctor) about skin problems if you are not able to solve them yourself.
            li
              | Take good care of your feet. Check them every day for sores and cuts. Wear broad, flat shoes that fit well. Check your shoes for foreign objects before putting them on.
          h4
            | High Blood Pressure (Hypertension)
          p
            | Nearly 1 in 3 American adults has high blood pressure and 2 in 3 people with diabetes report having high blood pressure or take prescription medications to lower their blood pressure. Your heart has to work harder when blood pressure is high, and your risk for heart disease, stroke and other problems goes up.
          p
            | High blood pressure won’t go away without treatment. That could include lifestyle changes and, if your doctor prescribes it, medicine.
          h5
            | What Is Blood Pressure?
          p
            | Blood pressure is the force of blood flow inside your blood vessels. Your doctor records your blood pressure as two numbers, such as 120/80, which you may hear them say as "120 over 80." Both numbers are important.
          p
            | The first number is the pressure as your heart beats and pushes blood through the blood vessels. Health care providers call this the "systolic" pressure. The second number is the pressure when the vessels relax between heartbeats. It's called the "diastolic" pressure.
          p
            | Here's what the numbers mean:
          ul
            li
              | Healthy blood pressure: below 120/80
            li
              | Early high blood pressure: between 120/80 and 140/90
            li
              | High blood pressure: 140/90 or higher
          p
            | The lower your blood pressure, the better your chances of delaying or preventing a heart attack or a stroke.
          p
            | When your blood moves through your vessels with too much force, you have high blood pressure or hypertension. Your heart has to work harder when blood pressure is high, and your risk for heart disease and diabetes goes up. High blood pressure raises your risk for heart attack, stroke, eye problems and kidney disease. High blood pressure is a problem that won't go away without treatment and changes to your diet and lifestyle.
          p
            | You should always have an idea of what your blood pressure is, just as you know your height and weight.
          h5
            | How Will I Know if I Have High Blood Pressure?
          p
            | High blood pressure is a silent problem — you won't know you have it unless your health care provider checks your blood pressure. Have your blood pressure checked at each regular health care visit, or at least once every two years (people without diabetes or other risk factors for heart disease).
          h5
            | What Can I Do About High Blood Pressure?
          p
            | Here are some easy tips to help reduce your blood pressure:
          ul
            li
              | Work with your health care provider to find a treatment plan that's right for you.
            li
              | Eat whole-grain breads and cereals.
            li
              | Try herbs and spices instead of salt to flavor foods.
            li
              | Check food labels and choose foods with less than 400 mg of sodium per serving.
            li
              | Lose weight or take steps to prevent weight gain.
            li
              | Limit alcohol consumption and consult your health care provider about whether it is safe to drink alcohol at all.
            li
              | If you smoke, get help to quit.
            li
              | Ask your health care provider about medications to help reduce high blood pressure. Samples of these types of medications include ACE inhibitors, ARBs, beta blockers, calcium channel blockers and diuretics.
        .btn-group
          label.btn.btn-success(ng-model='lifestyle_helpful' btn-radio="'Helpful'") Helpful
          label.btn.btn-success(ng-model='lifestyle_helpful' btn-radio="'Confusing'") Confusing
      .row.clearfix
        .col-md-12.column
          h3
            | Neuropathy (Nerve Damage)
          .media
            .pull-right
              img.media-object.pull-left(src='http://www.diabetes.org/assets/img/living/neuropathy-365x234.jpg', alt='')
            .media-body
              p
                | Nerve damage from diabetes is called diabetic neuropathy (new-ROP-uh-thee). About half of all people with diabetes have some form of nerve damage. It is more common in those who have had the disease for a number of years and can lead to many kinds of problems.
              p
                | If you keep your blood glucose levels on target, you may help prevent or delay nerve damage. If you already have nerve damage, this will help prevent or delay further damage. There are also other treatments that can help.
          h4
            | Peripheral Neuropathy
          p
            | Peripheral neuropathy can cause tingling, pain, numbness, or weakness in your feet and hands.
          h4
            | Autonomic Neuropathy
          p
            | Autonomic neuropathy affects the nerves in your body that control your body systems.
        .btn-group
          label.btn.btn-success(ng-model='neuropathy_helpful' btn-radio="'Helpful'") Helpful
          label.btn.btn-success(ng-model='neuropathy_helpful' btn-radio="'Confusing'") Confusing
      .row.clearfix
        .col-md-12.column
          h3
            | Test Orders
          dl
            dt
              | Date Ordered
            dd
              | 10/10/2014
            dt
              | Expected Arrival Date
            dt
              | Reason
            dd
              | Blood work.
        .btn-group
          label.btn.btn-success(ng-model='test_result_helpful' btn-radio="'Helpful'") Helpful
          label.btn.btn-success(ng-model='test_result_helpful' btn-radio="'Confusing'") Confusing
{% endverbatim %}