{% extends "partials/app_layout.jade" %}
{% block content %}
div(ng-view)
{% endblock %}
{% block templates %}
script#home_template(type="text/ng-template")
    {% include "pages/home.jade" %}
script#landing_page_template(type="text/ng-template")
    {% include "pages/landing.jade" %}
script#login_template(type="text/ng-template")
    {% include "pages/login.jade" %}
script#patient_template(type="text/ng-template")
    {% include "pages/patient.jade" %}
script#doctor_template(type="text/ng-template")
    {% include "pages/doctor.jade" %}
{% endblock %}
